html{
    scroll-behavior: smooth;
}
.nav-item{
    transition: all 1s;
    margin: 0px;
}
.nav-item:hover{
    transition: all 0.5s;
    font-size: 20px;
    color: white;
}
a {
    text-decoration: none;
    }
.pesquisa{
    margin-left: 600px;
}
@media (max-width: 1400px)
{
  .pesquisa
   {
    margin-left: 15%;
   }
}


#fundo{
    background: rgba(0, 0, 0, 0.7) url(img/fundo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
.escrito{
    top: 50px
}
.fundoCarousel{
    padding-bottom: 500px;
}
.fundo2, .fundo4{
  color: white;
  background-image: url(/img/star.svg);
}
#fundo3{
    background: rgba(0, 0, 0, 0.7) url(img/fundo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
  #fundo5{
    background: rgba(0, 0, 0, 0.7) url(img/fundo5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
#fundo-cad{
    background: rgba(0, 0, 0, 0.7) url(img/fundo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
  }
.borda{
    border-style: solid;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
  }

.dividido{
    margin-top: 100px;
}

/* Botão FAB. Site: https://velhobit.com.br/design/fab-botao-flutuante-com-css3-e-html-sem-javascript.html */
.fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #a2a2a2;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button:focus{
    outline: none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #a2a2a2;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '☰';
  }
  
  .fab ul{
    position:absolute;
    bottom: 0;
    right: 0;
    padding:0;
    padding-right:5px;
    margin:0;
    list-style:none;
    z-index:10;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab ul li{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .fab ul li label{
    margin-right:10px;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius:3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity:0;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab.show button.main,
  .fab.show button.main{
    outline: none;
    background-color: #a2a2a2;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
   }
   
  .fab.show button.main:before,
  .fab.show button.main:before{
    content: '↑';
  }
  
  .fab.show button.main + ul,
  .fab.show button.main + ul{
    bottom: 70px;
  }
  
  .fab.show button.main + ul li,
  .fab.show button.main + ul li{
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .fab.show button.main + ul li:hover label,
  .fab.show button.main + ul li:hover label{
    opacity: 1;
  }
/* Até aqui */

.nada{
    text-decoration: none;
    color: #0098E6;
}
.nada:hover{
    opacity: 1;
}

#formulario{
  text-align: center;
  border: solid;
  margin-left: 200px; 
  margin-right: 200px;
  border-radius: 20px; 
  background: rgb(0,0,0);
  color: white; 
  margin: 0 auto;
  width: 700px; 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#formulario > label, input {
	width:150px;
	margin: 10px 210px;
  
}

#formulario > fieldset {
	
	width:600px;

}
.button{
  padding: 20px;
  transition: all 0.2s;
}
.button:hover{
  transition: all 0.2s;
  filter:brightness(60%);
}
#body-cad{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,27,3,0.9547413793103449) 92%);
}

::-webkit-scrollbar{
  width: 20px;
  background-color: #000;
}
::-webkit-scrollbar-track{
  background: #ddd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background: #5E5E5E;
  border-radius: 20px;
}

