html{
    scroll-behavior: smooth;
}
.nav-item{
    transition: all 1s;
    margin: 0px;
}
.nav-item:hover{
    transition: all 0.5s;
    font-size: 20px;
    color: white;
}
a {
    text-decoration: none;
    }
.pesquisa{
    margin-left: 600px;
}
@media (max-width: 1400px)
{
  .pesquisa
   {
    margin-left: 15%;
   }
}


#fundo{
    background: rgba(0, 0, 0, 0.7) url(img/fundo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
.escrito{
    top: 50px
}
.fundoCarousel{
    padding-bottom: 500px;
}
.fundo2, .fundo4,.fundo6, .img{
  color: white;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 545.4545454545454' preserveAspectRatio='xMaxYMax slice'%3E%3Cg transform='scale(1.409443269908386)'%3E%3Crect x='0' y='0' width='709.5' height='387' fill='%23000000'/%3E%3Cg transform='translate(403.13 16.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%230e0d0d'/%3E%3C/g%3E%3Cg transform='translate(467.63 16.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23201d1d'/%3E%3C/g%3E%3Cg transform='translate(596.63 16.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23030303'/%3E%3C/g%3E%3Cg transform='translate(16.13 80.63) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23e9e9e9'/%3E%3C/g%3E%3Cg transform='translate(209.63 80.63) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23030302'/%3E%3C/g%3E%3Cg transform='translate(661.13 80.63) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23ababab'/%3E%3C/g%3E%3Cg transform='translate(274.13 145.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23221f1f'/%3E%3C/g%3E%3Crect x='338.625' y='145.125' width='32.25' height='32.25' fill='%23000000'/%3E%3Cg transform='translate(354.75 145.13) scale(0.8065) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23312d2c'/%3E%3C/g%3E%3Cg transform='translate(403.13 145.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23cfcfcf'/%3E%3C/g%3E%3Cg transform='translate(596.63 145.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23cbcbcb'/%3E%3C/g%3E%3Crect x='532.125' y='209.625' width='32.25' height='32.25' fill='%23000000'/%3E%3Cg transform='translate(548.25 209.63) scale(0.8065) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23848484'/%3E%3C/g%3E%3Cg transform='translate(661.13 209.63) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23343434'/%3E%3C/g%3E%3Cg transform='translate(16.13 274.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23201e1d'/%3E%3C/g%3E%3Cg transform='translate(532.13 274.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%230a0909'/%3E%3C/g%3E%3Cg transform='translate(661.13 274.13) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23adadad'/%3E%3C/g%3E%3Cg transform='translate(16.13 338.63) scale(1.6125) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23929292'/%3E%3C/g%3E%3Crect x='80.625' y='338.625' width='32.25' height='32.25' fill='%23000000'/%3E%3Cg transform='translate(80.63 338.63) scale(0.8065) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23121010'/%3E%3C/g%3E%3Cg transform='translate(80.63 354.75) scale(0.8065) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%230e0d0d'/%3E%3C/g%3E%3Cg transform='translate(96.75 354.75) scale(0.8065) rotate(0)'%3E%3Cpath d='M10 1L12.2451 7.90983H19.5106L13.6327 12.1803L15.8779 19.0902L10 14.8197L4.12215 19.0902L6.36729 12.1803L0.489441 7.90983H7.75487L10 1Z' fill='%23171717'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#fundo3{
    background: rgba(0, 0, 0, 0.7) url(img/fundo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
  #fundo5{
    background: rgba(0, 0, 0, 0.7) url(img/fundo5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
#fundo-cad{
    background: rgba(0, 0, 0, 0.7) url(img/fundo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
  }
.borda{
    border-style: solid;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
  }

.dividido{
    margin-top: 100px;
}

/* Botão FAB. Site: https://velhobit.com.br/design/fab-botao-flutuante-com-css3-e-html-sem-javascript.html */
.fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #a2a2a2;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button:focus{
    outline: none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #a2a2a2;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '☰';
  }
  
  .fab ul{
    position:absolute;
    bottom: 0;
    right: 0;
    padding:0;
    padding-right:5px;
    margin:0;
    list-style:none;
    z-index:10;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab ul li{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .fab ul li label{
    margin-right:10px;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius:3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity:0;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab.show button.main,
  .fab.show button.main{
    outline: none;
    background-color: #a2a2a2;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
   }
   
  .fab.show button.main:before,
  .fab.show button.main:before{
    content: '↑';
  }
  
  .fab.show button.main + ul,
  .fab.show button.main + ul{
    bottom: 70px;
  }
  
  .fab.show button.main + ul li,
  .fab.show button.main + ul li{
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .fab.show button.main + ul li:hover label,
  .fab.show button.main + ul li:hover label{
    opacity: 1;
  }
/* Até aqui */

.nada{
    text-decoration: none;
    color: #0098E6;
    margin: 0px;
}
.nada:hover{
    opacity: 1;
}

#formulario{
  text-align: center;
  border: solid;
  margin-left: 200px; 
  margin-right: 200px;
  border-radius: 20px; 
  background: rgb(0,0,0);
  color: white; 
  margin: 0 auto;
  width: 700px; 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#formulario > label, input {
	width:150px;
	margin: 10px 210px;
  
}

#formulario > fieldset {
	
	width:600px;

}
.button{
  padding: 20px;
  transition: all 0.2s;
}
.button:hover{
  transition: all 0.2s;
  filter:brightness(60%);
}
#body-cad{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,27,3,0.9547413793103449) 92%);
}

::-webkit-scrollbar{
  width: 20px;
  background-color: #000;
}
::-webkit-scrollbar-track{
  background: #ddd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background: #5E5E5E;
  border-radius: 20px;
}
p{
  font-size: 25px;
}


