html{
    scroll-behavior: smooth;
}
.nav-item{
    transition: all 1s;
    margin: 0px;
}
.nav-item:hover{
    transition: all 0.5s;
    font-size: 20px;
    color: white;
}
a {
    text-decoration: none;
    }
.pesquisa{
    margin-left: 400px;
}
@media (max-width: 1400px)
{
  .pesquisa
   {
    margin-left: 15%;
   }
}

#fundo{
    background: rgba(0, 0, 0, 0.7) url(https://w.wallhaven.cc/full/3z/wallhaven-3zgz2y.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
   }
.escrito{
    top: 50px
}
.fundoCarousel{
    padding-bottom: 500px;
}